<%- include("_header") -%>

<h1>Select a file with customers for Database Insert</h1>
<form action="/import" method="post">
    <input type="file" name="filename" required><p></p>
    <button class="btn btn-primary" type="submit">Import from file</button>
</form>


<p id="loader"></p>
<div id="import-info" class="d-flex flex-column"></div>



<script>
    const loader = document.querySelector('#loader');
    const info = document.querySelector('#import-info');
    document.querySelector("form").addEventListener("submit", e => {
        // Cancel default behavior of sending a synchronous POST request
        e.preventDefault();
        // Create a FormData object, passing the form as a parameter
        const formData = new FormData(e.target);
        loader.textContent = 'Please wait';
        info.innerHTML = ''; // убираем результаты прошлого импорта, если они были
        // Send form data to the server with an asynchronous POST request
        fetch("/import", {
            method: "POST",
            body: formData
        })
            .then(response => response.json())
            .then(result => {
                loader.textContent = '';

                const all = document.createElement('b');
                all.textContent = `Records Processed: ${result.numInserted + result.numFailed}`;
                info.append(all);

                const success = document.createElement('b');
                success.textContent = `Records inserted Successfully: ${result.numInserted}`;
                info.append(success);

                const fail = document.createElement('b');
                fail.textContent = `Records Failed: ${result.numFailed}`;
                info.append(fail);

                if (result.errorMessage) {
                    const errorTitle = document.createElement('b');
                    errorTitle.textContent = `Errors:`;
                    info.append(errorTitle);

                    const errorText = document.createElement('p');
                    errorText.innerText = result.errorMessage;
                    info.append(errorText);
                }
            })
            .catch(err => {
                console.log(err);
            });
    });
</script>
<%- include("_footer") -%>
